  <footer class="footer">
    <p>© <%= new Date().getFullYear() %> <%= brandName %>. All rights reserved.</p>
    <div class="social-links">
      <a href="https://instagram.com/YourBrandInstagram" target="_blank">Instagram</a>
      </div>
  </footer>
  
  <script src="/js/main.js"></script>
</body>
</html>
